body {
    font-family: Roboto, sans-serif; 
    color:#434455;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
}


/*________HEADER____________*/

  .title {
background: #FFF; 
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
      
  }
  .container {
max-width: 1158px;
margin: 0 auto;
padding: 0 15px;


  }


  .logo-header {
        color:#4d5ae5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
  }

  .studio-logo {
        color: #2e2f42;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      
        
      }
  .title-navigation {
      display: flex;
      align-items: center;
     
  }
  .title-list {
       display: flex;
        gap: 40px;
}




  .title-list-item {
        color: #050616;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

    .current {
      color: #404bbf;
      position: relative;
    }
  
    .current::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 4px;
      background-color: #404bbf;
      border-radius: 2px;
      width: 100%;
    }
  .title-list-item:hover, 
  .title-list-item:focus {
      color: #404bbf;
  }
  .address-style {
      font-style: normal; 
    padding: 24px 0;
    margin-left: auto;
  }
  .address-list {
display: flex;
gap: 40px;
margin: 0;
padding: 0;
  }

  .address_link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
  }
  .address_link:hover,
  .address_link:focus {
      color: #404bbf;
  }
  .header-container {
      display: flex;

      
  }
  .principles-container {
      display: flex;
      gap: 24px;
  } 
 
  
  /*sections*section 1*/
  .section_type {
      background-color:#2e2f42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peoople_office.jpg);
      padding: 188px 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      max-width: 1440px;
      
  }

  img {
      display: block;
  }
  .main-phrase {
        color: #FFF;
        background: #2E2F42;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin: 0 auto 48px;
  }
  .button-style {
        color: #ffffff;
        background-color: #4D5AE5;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  .button-style:hover,
  .button-style:focus {
       background-color: #404BBF;
  }

  /*section 2*/

  .section_two {
    padding: 120px 0;
  }
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      clip-path: inset(100%);
      border: 0;
      white-space: nowrap;
    }

  .principles-blocks {
    width: calc((100% - 72px) / 4);
  }
  .div_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
border-radius: 4px;
margin-bottom: 8px;

  }
  .h-text {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;

  }
  .parts-texts {
        color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }

  /*teams section*section 3*/

  .team_section_description {
     background-color: #F4F4FD;
     padding: 120px 0;
     text-align: center;
  }
  .team-members-container {
    display: flex;
    gap: 24px;
  }
  .team-text {
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
  }
  .list_description {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        width: calc((100% - 72px) / 4);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
          0px 1px 1px rgba(46, 47, 66, 0.16),
          0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .name_position {
    padding: 32px 0;
  }
  .list_socnet {
display:flex;
justify-content: center;
gap: 24px;
background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.link_three {
  display: flex;  
  width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.link_three:hover, 
.link_three:focus {
  background-color: #404bbf;
}

  .soc-icons {
    fill: #f4f4fd;
  }
  .icons-list {
    width: 40px;
    height: 40px;
    
    
  }
  .photo {
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
  }

  .name-text {
        color:#2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
  }
  .ptext {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }


  /*4 section*/
  .section_four {
    padding-top: 120px;
        padding-bottom: 120px;

  }
  .team-text {
    margin-bottom: 72px;
  } 
  .apps-container {
      display: flex;
      flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
  }
  .apps-description {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
  .apps-description:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  .apps-description:hover .stylish {
transform: translateY(0);
  }
  .image_in_four {
    position: relative;
    overflow: hidden;}
    
  .apps-category-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .stylish {
   position: absolute;
   top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);



  }

  /*footer*/

  .footer_description {
        background-color: #2e2f42;
        padding: 100px 0;
        
  }
  .f_container {
    display: flex;
      align-items: baseline
  }
  
.column_one {
margin-right: 120px;
}
.column_two {

}
   .logo {
         color: #4d5ae5;
         font-family: Raleway, sans-serif;
         font-size: 18px;
         font-weight: 700;
         line-height: 1.17;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         display: inline-block;
         margin-bottom: 16px;

   }
   .studio-logo-footer {
         color: #f4f4fd;
         font-family: Raleway, sans-serif;
         font-size: 18px;
         font-weight: 700;
         line-height: 1.17;
         letter-spacing: 0.03em;
         text-transform: uppercase;
        display: inline-block;
      }
  
    .pfooter {
        color:#F4F4FD;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
  }
  .title_social_networks {
    color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      font-weight: 500;
      margin-bottom: 16px;


  }
  .icons-list-two {
    display: flex;
    gap: 16px;
    height: 40px;
    width: 40px;}

    .icons-list-two :hover{
    box-shadow: зі значенням 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    

  .list_socnet_two {
    display: flex;
    gap: 16px;
  }
  .link_f {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    
  }
  
  .link_f:hover,
  .link_f:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6, 
  p {
    margin: 0;
    padding: 0;
  }